.body{
    font: 20px Arial;
}



.navbar{
    background-color: cadetblue;

}

.quem-somos{
    background-color: blueviolet;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 20px;
}

.parceiros{
    background-color: aqua;
}

.servicos{

    
}